
  <div class="container">
    <div class="row">
      <div class="col">
        Nasza przykładowa aplikacja jaką rozwijamy dla firmy. Jest to program do obsługi działu seriwsowego. Zadaniem 
        tej apliakcji jest usprawnienie działa serwisu który prawie automatycznie wypełnia zlecenia do akcji serisowej i wpełni 
        automatycznie drukuje z niego protokół.
      </div>
      <div class="col">
        <img class="w-100" src="https://drive.google.com/uc?id=1lMQ8mGUIQ-qiGPYjouTHPvcL51BGnV04" >
      </div>
    </div>
<lib-our-team></lib-our-team>